<div class="container mx-auto flex items-center justify-center lg:h-screen h-4/6">
    <div class="grid grid-cols-1 lg:grid-cols-2">
        <div class="flex items-center justify-center scale-110 lg:translate-x-16 mb-10 lg:mb-0">
            <img src="/static/image/graduetfun.png" alt="" srcset="">
        </div>
        <div class="flex justify-center items-center mt-5 lg:mt-0">
            <div class="text-[#00235C]">
                <h2 class="text-6xl font-semibold mb-4 lg:text-6xl">Guaranteed Fun Curriculum for Children</h2>
                <p class="text-3xl text-justify lg:text-2xl">A computer science curriculum that makes coding easy to 
                    teach and fun to learn. Students learn through video-based lessons, with different themes like 
                    sports, art, and game design.
                </p>
            </div>
        </div>
    </div>
</div>