<div class="bg-[#116CFF]">
    <div class="container mx-auto flex items-center justify-center h-4/6 lg:h-screen">
        <div class="grid grid-cols-1 lg:grid-cols-2">
            <div class="flex justify- items-center">
                <div class="text-white">
                    <h2 class="text-6xl font-semibold mb-4 lg:text-6xl">Increases Logical Thinking with Coding Class</h2>
                    <p class="text-3xl text-justify lg:text-2xl">Having logical thinking skills encourages kids to think 
                        for themselves, to question assumptions, to develop their 
                        own theories, and to test their theories against known facts. 
                        These thinking skills are transferable to all situations.
                    </p>
                </div>
            </div>
            <div class="flex items-center justify-center scale-110 lg:translate-x-10">
                <img src="/static/image/gradution.png" alt="" srcset="">
            </div>
        </div>
    </div>
</div>